########################################################
# MINI MVC - Arquivo de exemplo / Example file
#
# PT-BR:
# Copie este arquivo:
# cp .env.example .env
#
# EN:
# Copy this file:
# cp .env.example .env
#
# PT-BR:
# Depois ajuste os valores conforme seu ambiente.
#
# EN:
# Then configure the values according to your environment.
########################################################


########################################################
# INFORMAÇÕES DA APLICAÇÃO
# APPLICATION SETTINGS
########################################################

# PT-BR: Nome da aplicação
# EN: Application name
APP_NAME='MINI MVC'

# PT-BR:
# Ambiente da aplicação
# development = desenvolvimento
# production = produção
#
# EN:
# Application environment
# development = development
# production = production
APP_ENV=development

# PT-BR:
# Chave interna da aplicação.
# Futuramente pode ser usada para sessões,
# criptografia, tokens e autenticação.
#
# EN:
# Internal application key.
# Can be used in the future for sessions,
# encryption, tokens and authentication.
APP_KEY=base

# PT-BR:
# Exibir erros detalhados
# true = exibe erros
# false = oculta erros
#
# EN:
# Show detailed errors
# true = show errors
# false = hide errors
APP_DEBUG=true

# PT-BR: URL principal do sistema
# EN: Main application URL
APP_URL=http://localhost/mvc


########################################################
# BANCO DE DADOS
# DATABASE SETTINGS
########################################################

# PT-BR:
# Tipo de conexão do banco
#
# EN:
# Database connection type
#
# Exemplos / Examples:
# mysql
# pgsql
# sqlite
DB_CONNECTION=mysql

# PT-BR:
# Endereço do servidor do banco
#
# EN:
# Database host address
DB_HOST=127.0.0.1

# PT-BR:
# Porta do banco
#
# EN:
# Database port
#
# MySQL: 3306
# PostgreSQL: 5432
DB_PORT=3306

# PT-BR: Nome do banco de dados
# EN: Database name
DB_DATABASE=

# PT-BR: Usuário do banco
# EN: Database username
DB_USERNAME=

# PT-BR: Senha do banco
# EN: Database password
DB_PASSWORD=